body {
    background-color: #333;
    color: #eee;
}

#cart-id {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: .5rem;
    font-size: 2rem;
}

.item-container {
    padding: .5rem;
    margin: .5rem;
} 

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card {
    background-color: #eee;
    color: #333;
    border-radius: 8px;
    padding: 1rem;
}